# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log
**/*.swp
**/tmp
**/dbs.vim
**/.netrwhist

.bash_history
.bash_local
.bash_logout

**/.ssh

**/plugged
**/autoload
**/.node_modules

**/.netrwhist
