! Xft.dpi: 125.37  dpi is set in xinitrc

URxvt.perl-ext-common: 	  	default,clipboard
myTerm*perl-ext-common: 	  	default,tabbedex,clipboard
! It seems that (X)characters = 8x(X) pixels and (Y) characters = 16x(Y) pixels, a urxvt -geometry 160x25 would take 1280 px width and 400 px height
myTerm*geometry:			180x48  
URxvt.borderless:       true
URxvt.utf8: true
URxvt.locale: true
URxvt*font: xft:Inconsolata\ for\ Powerline:pixelsize=12

URxvt*saveLines: 1024
URxvt*scrollBar:  false
URxvt*depth: 32
URxvt*buffered: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
urxvt.foreground: #aaaaaa
urxvt*background: rgba:0000/0000/0200/c800
! URxvt*fadeColor: grey
!
! ------ copy/paste -------
! disable ctrl-shift key combo
URxvt*iso14755: False
! usE control+shift+v/c for copy and past
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.keysym.C-A-V: perl:clipboard:paste_escaped

!------- tabs -----------------
! disable default mappings
URxvt.tabbed.no-tabbedex-keys: true
URxvt.keysym.Control-Shift-Left: perl:tabbedex:move_tab_left
URxvt.keysym.Control-Shift-Right: perl:tabbedex:move_tab_right
URxvt.keysym.Control-Shift-R: perl:tabbedex:rename_tab
URxvt.keysym.Control-Left: perl:tabbedex:prev_tab
URxvt.keysym.Control-Right: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-Up: perl:tabbedex:new_tab
URxvt.keysym.Control-Shift-Down: perl:tabbedex:kill_tab
URxvt.keysym.Shift-Left: \033[1~
URxvt.keysym.Shift-Right: \033[4~
! URxvt.tabbed.reopen-on-close: yes
! URxvt.tabbed.title: yes

URxvt.url-select.launcher: chromium
URxvt.url-select.underline: true
