{
    "extends": ["standard", "standard-jsx"],
    "rules": {
        semi: ["warn", "always", { "omitLastInOneLineBlock": true}],
        quotes: ["warn", "single"],
        no-multiple-empty-lines: 0
    }
}
