* {
  border: none;
  border-radius: 0;
  font-family: Hack Sans Mono for Powerline;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  color: #b9b9b9;
  background-color: #282828;
  background: linear-gradient(0deg, #333, #1a1a1a 80%);
}

#workspaces button {
  padding: 0 10px;
  background: #333;
  color: #919191;
  font-size: 32px;
  border-left: 1px solid rgba(100, 114, 125, 0.3);
}

#workspaces button.focused {
  color: #1793d1;
  font-size: 26px;
}

#mode {
  padding: 0 10px;
  color: #1793d1;
}

#memory,
#clock,
#tray,
#idle_inhibitor,
#custom-redshift,
#backlight,
#custom-alsa {
  padding: 0 10px;
}

#temperature {
  padding: 0 10px 0 0;
}
#cpu,
#temperature,
#memory {
  font-size: 12px;
  color: #919191;
  background: transparent;
}
#network {
  padding: 0;
}
#custom-vpn {
  padding: 0 10px;
}
#clock {
  background: #282828;
}

#battery,
#custom-alsa,
#backlight {
  background: #242424;
}
#battery {
  padding: 0 10px 0 0;
}
#backlight {
  border-left: 1px solid rgba(100, 114, 125, 0.3);
}

#network,
#custom-vpn,
#clock {
  background: #333;
}

#idle_inhibitor,
#custom-redshift,
#tray {
  background: #333;
  border-left: 1px solid rgba(100, 114, 125, 0.3);
}

#custom-arrow1 {
  font-size: 24px;
  color: #242424;
  background: #333;
}
#custom-arrow2 {
  font-size: 24px;
  color: #333;
  background: #242424;
}
#custom-arrow3 {
  font-size: 24px;
  background: #3c3c3c;
  color: #242424;
}
#custom-arrow4 {
  font-size: 24px;
  background: transparent;
  color: #3c3c3c;
}
#custom-arrow5 {
  font-size: 24px;
  color: #262626;
  background: transparent;
}
/* workspace-seperator */
#custom-arrow6 {
  font-size: 24px;
  color: #333;
  background: transparent;
}

#custom-vpn.active {
  color: green;
}
#idle_inhibitor.activated {
  color: #dadada;
}
#idle_inhibitor.deactivated {
  color: #b9b9b9;
}

#custom-redshift.active {
  color: red;
}
#custom-redshift.inactive {
  color: #b9b9b9;
}
#battery.warning:not(.charging) {
  color: #d05c5c;
}
#battery.critical {
  color: red;
}
#temperature.critical {
  color: #d05c5c;
}

@keyframes blink {
  to {
    color: white;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
