* {
  border: none;
  border-radius: 0;
  font-family: Hack Sans Mono for Powerline;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  color: #b9b9b9;
  background-color: #282828;
  background: linear-gradient(0deg, #333, #1a1a1a 80%);
}

#workspaces button {
  padding: 0 10px;
  background: #4a4a4a;
  color: white;
  font-size: 26px;
  border-left: 1px solid rgba(100, 114, 125, 0.3);
}

#workspaces button.focused {
  color: #1793d1;
  font-size: 26px;
}

#mode {
  padding: 0 10px;
  color: #1793d1;
}

#memory,
#clock,
#tray,
#idle_inhibitor,
#backlight,
#custom-alsa {
  padding: 0 10px;
}

#temperature {
  padding: 0 10px 0 0;
}
#cpu,
#temperature,
#memory {
  font-size: 12px;
  color: #919191;
  /* background: #262626; */
}
#network {
  padding: 0;
}
#custom-vpn {
  padding: 0 10px;
}
#clock {
  background: #282828;
}

#battery,
#custom-alsa,
#backlight {
  background: #242424;
}
#battery {
  padding: 0 10px 0 0;
}
#custom-alsa {
  border-left: 1px solid rgba(100, 114, 125, 0.3);
}

#custom-arrow1 {
  font-size: 24px;
  color: #242424;
  background: #333;
}

#network,
#custom-vpn,
#clock {
  background: #333;
}

#idle_inhibitor,
#tray {
  background: #333;
  border-left: 1px solid rgba(100, 114, 125, 0.3);
}

#custom-arrow2 {
  font-size: 24px;
  color: #333;
  background: #242424;
}

/* end right modules  */
#custom-arrow3 {
  font-size: 24px;
  color: #242424;
  background: transparent;
}

/* workspace-seperator */
#custom-arrow6 {
  font-size: 24px;
  color: #4a4a4a;
  background: transparent;
}

#custom-vpn.active {
  color: green;
}
#idle_inhibitor.activated {
  color: green;
  color: #dadada;
}
#idle_inhibitor.deactivated {
  color: #b9b9b9;
}
#battery.warning {
  color: #d05c5c;
}
#battery.critical {
  color: red;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}
